@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

.menu-menu{
    font-family: 'Roboto', sans-serif;
}



span{
    color: green;
    font-family: 'Roboto', sans-serif;
}

.entrar{
    margin-top: 32px;
    font-size: 11px;
    width: 20%;
    margin-left: 190px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.h1{
    margin-top: 2px;
}