@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

.rodape{
    width: 100%;
    text-align: center;
    margin-top: 60%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size:12px;
    font-family:'Roboto', sans-serif;
}

strong{
    color: dimgrey;
    
}

